<!-- About Section -->
<section class="page-section bg-primary text-white mb-0">
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">
            I am an experienced programmer with more than 2 years of experience in handling WordPress content, 
            in addition to having worked as a computer technician solving minor incidents 
            and 5 years as a seller of computer products.
          </p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">
            I have knowledge in various associated technologies, such as: HTML5, CSS3, Sass, JavaScript, 
            JQuery, TypeScript, Angular, MySQL, C # script-oriented for Unity and PHP. 
            I also have knowledge of operating systems and network management.
          </p>
        </div>
      </div>

      <!-- About Section Button -->
      <div class="text-center mt-4">        
        <a class="btn btn-xl btn-outline-light mr-md-5 mb-5 mb-md-0" href="http://bit.ly/1ESCVdeJLL" target="_blank"> 
          <i class="fas fa-download mr-2"></i>
          ES CV PDF Download!
        </a>
        <a class="btn btn-xl btn-outline-light" href="http://bit.ly/1ENCVfromJLL" target="_blank">
          <i class="fas fa-download mr-2"></i>
          EN CV PDF Download!
        </a>
      </div>

    </div>
  </section>