<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">291 Meridiana Avenue
            <br>Barcelona, 08027</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Around the Web</h4>
          <a class="btn btn-outline-light btn-social mx-1" 
             href="https://www.linkedin.com/in/jonatan-lledo-llacer-73179241/"
             target="_blank">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">Contact</h4>
          <p class="lead mb-0">
              
            <i class="far fa-envelope text-primary" ></i> : <strong>jonatan.lledo@gmail.com</strong><br>
            <i class="fas fa-mobile-alt text-primary"></i> : <strong> 933499640 / 666286227 </strong>
          </p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
    <small>
      Copyright &copy; {{ thisYear() }} | 
      <a href="https://startbootstrap.com/themes/freelancer/" target="_blank">Bootstrap theme based on</a> | 
      <a>Source Code</a> <!-- TODO: añadir link del repositorio de éste proyecto en GitHub -->
    </small>
    </div>
  </section>