  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5" src="/assets/freelancer/img/avataaars.png" alt="">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">
        <a class="a_white" 
           title="linkedIn" 
           href="https://www.linkedin.com/in/jonatan-lledo-llacer-73179241/"
           target="_blank">
          Jonatán Lledó
        </a>
      </h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">IT Technician - Front-end - Web Programmer</p>

    </div>
  </header>
