<!-- Portfolio Modals -->

  <!-- Portfolio Modal {{ i + 1 }} -->
  <div *ngFor="let img of tempImgs; let i = index"
       class="portfolio-modal modal fade" 
       [id]="f.portfolioModalNumber(i)" 
       tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <button (click)="closeModal(i)"
                type="button" class="close">
          <span>
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ img }}</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="{{ imagePath(i) }}{{ img }}.png" alt="{{ img }}">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">
                  {{ f.isDefaultImg[i] | getModalText: i }}
                  <br>
                  <a class="d-inline-block mt-3" href="{{ f.isDefaultImg[i] | getModalLink: i }}" target="_blank">More Info</a>
                </p>                
                <button (click)="closeModal(i)"
                        class="btn btn-primary" type="button">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div> <!-- col-lg-8 -->
            </div> <!-- row -->
          </div> <!-- container -->
        </div> <!-- modal-body -->
      </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
  </div> <!-- portfolio-modal -->
  